<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="file" xsi:type="File"
            layout="${time} ${level:uppercase=true} ${logger} ${message} ${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.log" />

		<target name="jsonFile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.json" >
				<layout type="JsonLayout" includeAllProperties="true"  excludeProperties="Comma-separated list (string)">
					<attribute name="time" layout="${time}" />
					<attribute name="level" layout="${level:upperCase=true}"/>
					<attribute name="logger" layout="${logger}"/>
					<attribute name="message" layout="${message}" />
					<attribute name="exception" layout="${exception:format=ToString}" />
					<attribute name="eventProperties" encode="false" >
						<layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="4"/>
					</attribute>
				</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" level="Info" writeTo="file" />
		<logger name="*" level="Trace" writeTo="jsonFile" />
	</rules>
</nlog>