/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

/*html, body {
    height: 100%;
    font-family: 'Numans', sans-serif;
}*/

.container {
    align-content: center;
    height: 100%;
}

.card {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 370px;
    margin-bottom: auto;
    margin-top: auto;
    width: 400px;
}

.social_icon span {
    color: #FFC312;
    font-size: 60px;
    margin-left: 10px;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 { color: white; }

.social_icon {
    position: absolute;
    right: 20px;
    top: -30px;
}

.input-group-prepend span {
    background-color: #FFC312;
    border: 0 !important;
    color: black;
    width: 50px;
}

input:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0 0 0 0 !important;
}

.remember { color: white; }

.remember input {
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    width: 20px;
}

.login_btn {
    background-color: #FFC312;
    color: black;
    width: 100px;
}

.login_btn:hover {
    background-color: white;
    color: black;
}

.links { color: white; }

.links a { margin-left: 4px; }