<table class="table table-striped">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Rating above</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="#">Rumtime Minutes Above</a>
                        <a class="dropdown-item" href="#">Rumtime Minutes Below</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Actor name</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    </div>
    <div class="row float-right mr-1 mb-1">
        <button type="button" class="btn btn-success float-right">Filter</button>
    </div>


    <thead>
        <tr>
            <th scope="col">Imdb Id</th>
            <th scope="col">Title</th>
            <th scope="col">Year</th>
            <th scope="col">Runtime Mins</th>
            <th scope="col">Genre</th>
            <th scope="col">Actors</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>fat</td>
            <td>fat,asdfasdf,a,sdf,asd,f,asdf,asd,fa,sd</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter,.a,sdf,asd,f,asdf,asd,fa,sd</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>