@model OmdbScrubber.Models.ViewModels.UploadViewModel

<h1>Search for movie information</h1>

<form asp-controller="Imdb" asp-action="Upload" method="post">
    <div class="form-group">
        <label>Imdb Ids:</label>
        <textarea class="form-control" asp-for="Input" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-success">Search</button>
</form>
