@using Microsoft.CodeAnalysis
@model UnrealEstate.Business.Authentication.ViewModel.Request.ForgotPasswordRequest
@{
    Layout = "_Layout";
}
<h1>Forgot Password</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-controller="Authentication" asp-action="ForgotPassword">
    <label>
        <b>Email:</b>
    </label>
    <input type="text" asp-for="Email"/>
    <input type="submit" class="btn btn-success"/>
    <span asp-validation-for="Email" class="text-danger"></span>
</form>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
