
@{ Layout = "_Layout"; }


@model UnrealEstate.Business.Authentication.ViewModel.Request.LoginViewModel
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <form asp-controller="Authentication" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <button>
                            <span>
                                <i class="fab fa-facebook-square"></i>
                            </span>
                        </button>
                        <button type="submit" name="provider" value="Google">
                            <span>
                                <i class="fab fa-google-plus-square"></i>
                            </span>
                        </button>
                        <button>
                            <span>
                                <i class="fab fa-twitter-square"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <form asp-controller="Authentication" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" value="user1@test.com" asp-for="Email" placeholder="email address">
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" value="password" asp-for="Password" placeholder="password">
                        <br/>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="@Url.Action("Register", "Authentication")">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("ForgotPassword", "Authentication")">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}