@model UnrealEstate.Models.ViewModels.ResponseViewModels.AuthenticationResponse

<h1>Forgot Password</h1>
<form method="post" asp-controller="Users" asp-action="ForgotPassword">
    <label><b>Email:</b></label>
    <input type="text" name="email" />
    <input type="submit" class="btn btn-success" />
</form>

@if (Model != null)
{
    <p style="color: red">@Model.Message</p>
}