@model UnrealEstate.Models.ViewModels.UserResponse

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-6">
        <form asp-controller="Users" asp-action="Profile" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" asp-for="Email" name="Email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label>First name</label>
                <input asp-for="FirstName" name="FirstName" class="form-control" placeholder="First name">
            </div>
            <div class="form-group col-md-6">
                <label>Last name</label>
                <input asp-for="LastName" name="LastName" class="form-control" placeholder="Last name">
            </div>
            <div class="form-group col-md-6">
                <label>Birth day</label>
                <input asp-for="BirthDay" name="BirthDay" class="form-control" id="datepicker" placeholder="Birth day">
            </div>
            <div class="form-group col-md-6">
                <label>Phone number</label>
                <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="Phone number">
            </div>
            <div class="form-group col-md-6">
                <input type="submit" class="form-control btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-6">
        <form asp-action="ChangePassword">
            <label>Old Password</label>
            <input type="text" name="oldpassword" class="form-control  col-md-6" />
            <label>New Password</label>
            <input type="text" name="newpassword" class="form-control  col-md-6" />
            <label>Confirm Password</label>
            <input type="text" name="confirmpassword" class="form-control  col-md-6" />
        </form>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_DatePickerScriptPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
