<form>
    <div class="offset-4">
        <div class="form-group col-md-4">
            <label>Email (*)</label>
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
            <label>Password (*)</label>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group col-md-4">
            <label>Confirm Password (*)</label>
            <input type="password" class="form-control" placeholder="Password">
        </div>
    </div>
</form>