@model UnrealEstate.Models.ViewModels.ResponseViewModels.AuthenticationResponse

<h1>Reset Password</h1>
<form asp-controller="Users" asp-action="ResetPassword" method="post">
    <div class="offset-4">
        <div class="form-group col-md-4">
            <label>Email (*)</label>
            <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
            <label>Token (*)</label>
            <input name="token" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
            <label>Password (*)</label>
            <input type="password" class="form-control" name="newpassword" placeholder="Password">
        </div>
        <div class="form-group col-md-4">
            <label>Confirm Password (*)</label>
            <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
        </div>
        <div class="form-group col-md-4">
            <input type="submit" class="form-control btn btn-success" />
        </div>
    </div>
</form>

@if (Model != null)
{
    <p style="color: red">@Model.Message</p>
}