@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using UnrealEstate.Infrastructure.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Profile","Users")">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Users" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-route-returnUrl="@string.Format($"{Context.Request.Path}{Context.Request.QueryString}")" asp-action="Login">Login</a>
        </li>
    }
</ul>