<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="get" class="input-group" id="adv-search">
                <input name="Address" type="text" class="form-control" placeholder="Search listings for zip/city/address"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <div class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label>Maximum price</label>
                                        <input name="MaxPrice" class="form-control" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Maximum house age</label>
                                        <input name="MaxAge" class="form-control" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum house size</label>
                                        <input name="MinSize" class="form-control" type="text"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" asp-controller="Listings" asp-action="Search" id="search" class="btn btn-success">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>